@charset "UTF-8";
.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Lemon Milk;
    src: url(../fonts/LEMONMILK-Light.otf);
}

:root {
    --cor1: #ECE9E2;
    --cor2: #586880;
    --cor3: #132239;
    --cor4: #414F69;
}

* {
    padding: 0;
    margin: 0;
    font-family: Lemon Milk;
    color: var(--cor1);
}

@media screen and (max-width:768px) {
    body {
        background-color: #132239;
    }
    header {
        background-color: #132239;
        margin: 20px 0 10px 0;
    }
    header img {
        display: block;
        margin: auto;
        width: 100px;
    }
    /*Menu burguer*/
    i#menu_burguer {
        display: block;
        color: var(--cor1);
        text-align: center;
        cursor: pointer;
        margin: 15px auto 10px 0;
    }
    #menu_itens {
        display: none;
    }
    nav>a {
        display: block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        background-color: var(--cor1);
        color: var(--cor3);
        width: 60vw;
        margin: auto;
    }
    nav>a:hover {
        background-color: var(--cor1);
    }
    #contato {
        border-radius: 0 0 10px 10px;
    }
    /*fim menu burguer*/
}